
@use './_variables.scss' as vars;
@use './_fonts' as fonts; 


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  /* hide all overflow */
  overflow-y: auto;
  /* allow vertical scroll only */
  font-family: fonts.$primary-font;
  margin: 0;
  /* reset default browser margin */
  padding: 0;
  /* reset default browser padding */
  background: var(--background);
  /* use root variable for bg */
  color: var(--text-primary);
  /* use root variable for text color */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style-type: none;
}





h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
button,
p,
figure,
img {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: fonts.$primary-font;
}


.theme_btn {
  display: inline-block;
  width: fit-content;
  border-radius: 1rem;
  padding: .6rem 1.5rem;
  font-weight: 600;
  transition: all ease-in-out .3s;
  color: vars.$white_color;
}



.primary_btn {
  background-color: transparent;
  border: 2px solid vars.$secondary_color;


  &:hover {
    background-color: vars.$primary_color;
    border: 1px solid vars.$primary_color;
  }

}


.secondary_btn {
  background-color: vars.$primary_color;
  border: 2px solid vars.$primary_color;

  &:hover {
    background-color: transparent;
    color: vars.$primary_color;
  }

}


.Title {
  color: vars.$primary_color;
  font-size: clamp(3rem, 4vw, 6rem);
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}