@use '../_variables.scss' as vars;
@use '../_fonts.scss' as fonts;

.MainHero {
    width: 100%;
    min-height: 65vh;
    position: relative;
    display: flex;;
    align-items: flex-end;
    padding: 4rem 0;



    .HeroImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 1;

    }

    .MainHeroContent {
        z-index: 10;
        width: 100%;

        .InnerContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 20;
            gap: 5rem;

            h1{
                font-weight: fonts.$fw-bold;
            }

            ul {
                display: flex;
                li{
                    color: vars.$rare_grey;
                    &:not(:last-child){
                        margin-right: 3rem;
                    }
                }
            }
        }

    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: vars.$black_color;
        opacity: .8;
        width: 100%;
        height: 100%;
        z-index: 2;
    }




}